body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    background-color: #f5f5f5;
}

header {
    background-color: #006666;
    color: white;
    padding: 20px;
    font-size: 24px;
}

nav {
    background-color: #009999;
    padding: 10px;
}

nav button {
    background-color: #00cccc;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

nav button:hover {
    background-color: #007777;
}

iframe {
    width: 90%;
    height: 500px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: white;
}

footer {
    background-color: green;
    color: white;
    padding: 10px;
    font-weight: bold;
}